<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">NewsWeb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer;" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer;" routerLink="/tech">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer;" routerLink="/business">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer;" routerLink="/sports">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer;" routerLink="/health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer;" routerLink="/weather">Weather</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  