<div class="container">
    <section class="mt-3 mb-3">
        <app-search></app-search>
    </section>
    
    <hr/>
    <div *ngIf=" bndisplay.length > 0">
        <h4>Business | News</h4>
        <div class="row">
            <div class="col-lg-3 mt-3 mb-3" *ngFor="let d of  bndisplay">
                <div class="card-columns">
                    <img src="{{d.urlToImage}}" alt="Image not available" width="100%"/>
                    <h5 class="mt-2 mb-2">{{d.title | shorten}}</h5>
                    <a href="{{d.url}}"target="_blank" alt="image" 
                    class="btn btn-dark btn-sm mt-2">Read More</a>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
